/* Web */

.main {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

  }


  .title {

    font-size: 36px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 8vh;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--ieeeorange);

  }

  .title:hover {

    color: var(--ieeeorange);
    font-weight: bold;

  }

  .description {

    font-size: 1.2rem;
    text-align: center;
    width: 50%;
    justify-items: center;
    margin-left: 25%;

  }

  

  .image{

    background-color: gray;
    display: flex;
    overflow: hidden;
    margin-right: 1rem;
    margin-bottom: 1.5rem;

  }

  .fade__in {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: translateY(5%)
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(5%)
    }
    to {
      opacity: 1;
      transform: translateY(0)
    }
  }

  .mainContainer {

    padding: 2rem;

  }


  .image__container {

    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }

 
  .fade__in {
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }


  .info {

    display: flex;
    flex-direction: column;
    
    
  }

  .info__title{

    
    font-weight: bold;
    text-align: center;
    
 

  }

  .profile__container {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
    



  }

  .name { 
    align-items: center;
    font-size: large;
    text-align: center;
  }
  .none {

    display: none;
  }

  @media screen and (max-width: 768px) {
    .main {
      padding: 2rem;
    }
    .title {
      font-size: 2rem;
    }
    .description {
      font-size: 1rem;
      width: 80%;
      margin-left: 10%;
    }
    .image__container {
      margin-top: 1rem;
    }
    .info {
      margin-top: 1rem;
    }
    .info__title {
      font-size: 1.2rem;
    }
    .name {
      font-size: 1rem;
    }

  }



  
  
  /* Mobile */
  
  