

  .footer {
    
   
    background-color: var(--ieeeorange);


  }

  .copyright__group {

    display: flex;
    flex-direction: row;

  }
  
  .signup {


    width: 80%;
    font-size: 1rem;


  }

  
  .copyright {

    font-size: 1.5rem;
    align-self: center;

  }
  
  .copyright__text {
    

   
    margin-left: 1%;
    margin-top: 1%;
    align-self: center;
  }

  .logo {

    width: 75px;
    height: 75px;
    margin-right:4%;

  }

  .title {


    font-size: 2rem;
    white-space: nowrap

  }