

  .footer {
    
    font-family: 'Roboto Mono', monospace;
    background-color: var(--ieeeorange);


  }

  .copyright__group {

    font-family: 'Roboto Mono', monospace;
    position: relative;
    display: flex;
    flex-direction: row;

  }

  .font__text {

    font-family: 'Roboto Mono', monospace;

  }
  
  .signup {

    font-family: 'Roboto Mono', monospace;
    width: 80%;
    font-size: 1rem;


  }

  
  .copyright {

    font-size: 1.5rem;


  }
  
  .copyright__text {
    
    position: absolute;
    top: 20%;
    left: 7%;
    align-content: flex-end;

  }

  .logo {

    width: 75px;
    height: 75px;
    margin-right:4%;

  }

  .title {

    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    white-space: nowrap

  }