/* Web */


.carousel {

    position: relative;
  
 

}
.overlay {

  color:#FFFFFF;
  position: absolute;
  top: 0;
  z-index: 12;
  font-size: 2.5rem;
  text-align: center;
  background:rgba(54, 53, 53, 0.6);
  width: 100%;
  height: 100%;
}


.logo {

  margin-top: 3%;
  width: 150px;
  height: 150px;


}

.about {

  font-family: 'Roboto Mono', monospace;
  font-size: 2.5rem;
  
}

.typewriter {

  display: inline-block;

}



.typewriter p{

  margin-top: 2%;
  overflow: hidden;
  border-right: 2px solid var(--ieeeorange);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 1.5s steps(40, end),
    blink-caret .75s step-end infinite;

}

/* What we do */
.main__container {

  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: var(--ieeeorange);
  padding-bottom: 12vh;
}

.what__we__do {

    color: #FFFFFF;
    width: 100%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 3.5rem;
}

.what__container{

  margin-top: 2%;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  padding: 2vh;
  row-gap: 10vh;
  column-gap: 10vw;
  grid-auto-rows: minmax(100px, auto);

} 


.grid__item {

  position: relative;
  border-radius: 20px;
  background: white;
  height: 45vh;
  width: 60vh;

}

.grid__content {

  display: flex;
  flex-direction: column;
  padding: 6%;
  height: 100%;
}

.grid__text{

  margin-top: 4%;
  height: 15vh;
  text-align: center;

}
.grid__title {

  color: var(--ieeeorange);
  align-self: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.5rem;

}

.grid__circle__topleft {

  height: 3vh;
  width: 3vh;
  background: var(--ieeeorange);
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 5%;
}
.grid__circle__topright {

  height: 3vh;
  width: 3vh;
  background: var(--ieeeorange);
  border-radius: 50%;
  position: absolute;
  top: 5%;
  right: 5%;

}
.grid__circle__bottomleft {

  height: 3vh;
  width: 3vh;
  background: var(--ieeeorange);
  border-radius: 50%;
  position: absolute;
  bottom: 5%;
  left: 5%;

}
.grid__circle__bottomright {

  height: 3vh;
  width: 3vh;
  background: var(--ieeeorange);
  border-radius: 50%;
  position: absolute;
  bottom: 5%;
  right: 5%;

}

.sponsors__section {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 80vh;

}

.sponsors__title {

  margin-top: 1%;
  font-size: 3rem;
  text-align:  center;
  font-weight: 500;
  width: 100%;
  height:fit-content;

}

.logo__section {

  margin-top: 4%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.murata {

  width: 62vh;
  height: fit-content;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  
}

.intertek {

  width: 62vh;
  height: fit-content;
  grid-column: 3 / 3;
  grid-row: 3 / 3;

}

.texas {

  width: 62vh;
  height: fit-content;
  grid-column: 1 / 3;
  grid-row: 1 / 3;

}


.link {

  width: 60%;
  height: 30%;
  align-self: center;

}

.image__grid{

  display: grid;
  grid-template-columns: 50% 50%;

}

.grid__image {

  height: 100%;
}


.title__logo {

  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.title {

  font-size: 8rem;
  font-weight: bold;

}

@media screen and (min-width: 950px) and (max-width: 1100px){

  .murata {

    width: 48vh;

  }
  
  .intertek {
  
    width: 45vh;

   
  
  }
  
  .texas {
  
    width: 48vh;

  
  }
  
}

@media screen and (max-width: 950px){

  .what__container{


 
    column-gap: 2vw;
    
  
  } 

  .murata {

    width: 45vh;

  }
  
  .intertek {
  
    width: 45vh;

   
  
  }
  
  .texas {
  
    width: 45vh;

  
  }
  
  
  
  .intertek {

    width: 40vh;
  
  }
  

}

@media screen and (max-width: 870px){

  .what__container{
 
    column-gap: 2vw;

  }
  .what__container{

    display: flex;
    flex-direction: column;
   
  }

  .intertek {

    width: 35vh;
  
  }
  
  

}
 
@media screen and (min-width: 600px) and (max-width: 820px){

  .title__logo {
    font-size: 1.1rem;
  }

  .title {

    font-size: 4rem;
  
  }

  .logo {

    width: 70px;
    height: 70px;


  }

  .typewriter p{

    font-size: 1.4rem;
    
  }


.logo__section {

  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

}

}

@media screen and ( min-width: 400px ) and (max-width: 600px){

  .title__logo {
    font-size: 1.1rem;
  }

  .title {

    font-size: 4rem;

  }

  .logo {

    width: 70px;
    height: 70px;


  }


    .typewriter p{

      display: none;
      
    }

    .logo__section {

      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
    
    }
  

}

@media screen and (max-width: 400px){

  .grid__item {

  
    height: 40vh;
    width: 48vh;
  
  }
  .what__we__do {

    font-size: 2.5rem;
  }
  .title {

    font-size: 2.5rem;

  
  }

  .logo {

    width: 70px;
    height: 70px;
  
  
  }

  .typewriter p{

    display: none;
    
  }

  .logo__section {

    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  
  }


}


@keyframes typing {

  from {width: 0}
  to { width: 100% }
}

@keyframes blink-caret {

  from, to { border-color: transparent }
  50% { border-color: var(--ieeeorange); }
}

/* Mobile */



