/* Web */

.container {

    display: flex;
    flex-direction: column;
    background-color: var(--ieeeblue);
    height: 80vh;
    padding-bottom: 1.5vh;
  


}

.title {

  font-family: 'Roboto Mono', monospace;
  color: #FFFFFF;
  width: fit-content;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3.5rem;
  margin-left: 35%;
  margin-top: 2%;
  

}

.Signup__container {

    display: flex;
    background: var(--ieeeblue);
    font-family: 'Roboto Mono', monospace;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color:#FFFFFF;
    height: fit-content;
    padding-bottom: 5vh;


}

.form__container {

    margin-left: 30%;
    display: flex;
    flex-direction: column;
    

}

.inner_left {

    
    width: 50%;
    height: 100%;

}
.inner_right {

    width:50%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.Signup__message {

    margin-left: 30%;
    font-size: 1.8rem;
    padding-top: 2rem;
    width: 70%;


}


.inner_left_signup{

    margin-left: 30%;
    

   
}

.inner_right_message {

    width: 90%;
    font-size: 1.6rem;
    padding-top: 2rem;
    margin-bottom: 8%;

}

.aboutContainer {

    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-bottom: 2.5%;
    background: #EAF0F5;
    padding-left: 7.5%;
    padding-top: 4%;

}

.logo__about {

    display: flex;
    height: 50vh;
    margin-top: 2.5%;

  }

  .logo{

    height: 250px;
    width: 250px;
    align-self: center;


  }
  .logo__space {

    display: flex;
    width: 250vh;
    padding: 2%;
    justify-content: center;
    


  }



.aboutText {

   
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    margin: auto;
    text-align: center;

}

@media screen and (min-width: 820px) and (max-width: 930px) {


    .inner_right_message {

      
        font-size: 1.2rem;
        padding-left: 30px;
        width: 100%;
        
    
    }

}

@media screen and (min-width: 600px) and (max-width: 820px){

    .aboutText {
        font-size: 1.2rem;
    }

    .inner_right {

        margin: auto;
        padding-bottom: 20px;
    }

    .inner_right_message {

      
        font-size: 1rem;
        height: 100%;
        
        margin-left: 40px;

    
    }

    .Signup__message {

        font-size: 1.5rem;
        text-align: center;
    }
}

@media screen and (max-width: 600px){

    .title {

        font-size: 2.5rem;
       
    }

    .inner_right {

        display: none;
        position: absolute;
        top: 0;
    }
    
    .inner_left {

        width: 100%;
    }
    .Signup__message {

        font-size: 1.5rem;
       
    }

    .logo{
  
      width: 150px;
      height: 150px;
      
    }
    .logo__space {

        display: flex;
        width: 150vh;
        height: fit-content;
        justify-content: center;
        align-self: center;
    
      }

    .aboutContainer {

        padding-left: 2rem;
        height: fit-content;
        max-height: 90%;
     
        
    }
    .container {

        height: auto;

    }
    .aboutText {
        
        font-size: 1.05rem;
        padding-left: 2rem;
  
    }

  
}

/* Mobile */